.gameStats {
  grid-area: header;
  height: 100%;
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: black;
}

.stat {
  outline: 3px solid black;
  background-color: darkolivegreen;
  color: ghostwhite;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}